In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-DA-modulo4-sprint1-Maite-Karine-Raquel/data/cafe/FAO_cafe_exportaciones.csv", index_col = 0)
pd.set_option('display.max_columns', None)
df.head()

,Ámbito,Código del área (M49),Área,Código del elemento,Elemento,Código del producto (CPC),Producto,Código del año,Año,Unidad,Valor,Símbolo,Descripción del Símbolo,Nota
Código del ámbito,,,,,,,,,,,,,,
QCL,Cultivos y productos de ganadería,24,Angola,5510,Producción,1610,"Café, verde",2013,2013,toneladas,12550.00,A,Cifra oficial,NaN
QCL,Cultivos y productos de ganadería,24,Angola,5510,Producción,1610,"Café, verde",2014,2014,toneladas,15009.00,A,Cifra oficial,NaN
QCL,Cultivos y productos de ganadería,24,Angola,5510,Producción,1610,"Café, verde",2015,2015,toneladas,15000.00,A,Cifra oficial,NaN
QCL,Cultivos y productos de ganadería,24,Angola,5510,Producción,1610,"Café, verde",2016,2016,toneladas,14679.61,I,Valor imputado,NaN
QCL,Cultivos y productos de ganadería,24,Angola,5510,Producción,1610,"Café, verde",2017,2017,toneladas,13542.99,I,Valor imputado,NaN

In [8]:
df.columns

Index(['Ámbito', 'Código del área (M49)', 'Área', 'Código del elemento',
       'Elemento', 'Código del producto (CPC)', 'Producto', 'Código del año',
       'Año', 'Unidad', 'Valor', 'Símbolo', 'Descripción del Símbolo', 'Nota'],
      dtype='object')

In [11]:
eliminar = ["Ámbito","Código del área (M49)", "Código del elemento","Código del producto (CPC)", "Nota"]
df_limpio = df.drop(columns= eliminar)
df_limpio.head()

,Área,Elemento,Producto,Código del año,Año,Unidad,Valor,Símbolo,Descripción del Símbolo
Código del ámbito,,,,,,,,,
QCL,Angola,Producción,"Café, verde",2013,2013,toneladas,12550.00,A,Cifra oficial
QCL,Angola,Producción,"Café, verde",2014,2014,toneladas,15009.00,A,Cifra oficial
QCL,Angola,Producción,"Café, verde",2015,2015,toneladas,15000.00,A,Cifra oficial
QCL,Angola,Producción,"Café, verde",2016,2016,toneladas,14679.61,I,Valor imputado
QCL,Angola,Producción,"Café, verde",2017,2017,toneladas,13542.99,I,Valor imputado

In [13]:
df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 820 entries, QCL to QCL
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Área                     820 non-null    object
 1   Elemento                 820 non-null    object
 2   Producto                 820 non-null    object
 3   Código del año           820 non-null    int64
 4   Año                      820 non-null    int64
 5   Unidad                   820 non-null    object
 6   Valor                    820 non-null    float64
 7   Símbolo                  820 non-null    object
 8   Descripción del Símbolo  820 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 64.1+ KB

In [14]:
df_limpio.duplicated().sum()

0

In [16]:
df_limpio.isnull().sum()

Área                       0
Elemento                   0
Producto                   0
Código del año             0
Año                        0
Unidad                     0
Valor                      0
Símbolo                    0
Descripción del Símbolo    0
dtype: int64

In [17]:
df_limpio.to_csv("data/FAO_cafe_exportaciones_limpio.csv")

In [20]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-DA-modulo4-sprint1-Maite-Karine-Raquel/data/cafe/FAO_cafe_importacion.csv", index_col = 0)
pd.set_option('display.max_columns', None)

In [21]:
df.head()

,Ámbito,Código del área (M49),Área,Código del elemento,Elemento,Código del producto (CPC),Producto,Código del año,Año,Unidad,Valor,Símbolo,Descripción del Símbolo,Nota
Código del ámbito,,,,,,,,,,,,,,
TCL,Cultivos y productos de ganadería,4,Afganistán,5622,Importaciones Valor,1610,"Café, verde",2013,2013,1000 US$,0,E,Valor estimado,NaN
TCL,Cultivos y productos de ganadería,4,Afganistán,5622,Importaciones Valor,1610,"Café, verde",2014,2014,1000 US$,40,X,Cifra de fuentes internacionales,Datos estimados utilizando la base de datos de...
TCL,Cultivos y productos de ganadería,4,Afganistán,5622,Importaciones Valor,1610,"Café, verde",2015,2015,1000 US$,241,X,Cifra de fuentes internacionales,Datos estimados utilizando la base de datos de...
TCL,Cultivos y productos de ganadería,4,Afganistán,5622,Importaciones Valor,1610,"Café, verde",2016,2016,1000 US$,1,X,Cifra de fuentes internacionales,Datos estimados utilizando la base de datos de...
TCL,Cultivos y productos de ganadería,4,Afganistán,5622,Importaciones Valor,1610,"Café, verde",2017,2017,1000 US$,62,A,Cifra oficial,NaN

In [23]:
df.columns

Index(['Ámbito', 'Código del área (M49)', 'Área', 'Código del elemento',
       'Elemento', 'Código del producto (CPC)', 'Producto', 'Código del año',
       'Año', 'Unidad', 'Valor', 'Símbolo', 'Descripción del Símbolo', 'Nota'],
      dtype='object')

In [24]:
eliminar = ["Ámbito","Código del área (M49)", "Código del elemento","Código del producto (CPC)", "Nota"]
df_limpio = df.drop(columns= eliminar)
df_limpio.head()

,Área,Elemento,Producto,Código del año,Año,Unidad,Valor,Símbolo,Descripción del Símbolo
Código del ámbito,,,,,,,,,
TCL,Afganistán,Importaciones Valor,"Café, verde",2013,2013,1000 US$,0,E,Valor estimado
TCL,Afganistán,Importaciones Valor,"Café, verde",2014,2014,1000 US$,40,X,Cifra de fuentes internacionales
TCL,Afganistán,Importaciones Valor,"Café, verde",2015,2015,1000 US$,241,X,Cifra de fuentes internacionales
TCL,Afganistán,Importaciones Valor,"Café, verde",2016,2016,1000 US$,1,X,Cifra de fuentes internacionales
TCL,Afganistán,Importaciones Valor,"Café, verde",2017,2017,1000 US$,62,A,Cifra oficial

In [25]:
df_limpio.duplicated().sum()

0

In [26]:
df_limpio.isnull().sum()

Área                       0
Elemento                   0
Producto                   0
Código del año             0
Año                        0
Unidad                     0
Valor                      0
Símbolo                    0
Descripción del Símbolo    0
dtype: int64

In [27]:
df_limpio.to_csv("data/FAO_cafe_importaciones_limpio.csv")